body,html{
    /*display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;*/
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 100vw;
    height: 100vh;
}

.red-box{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: red;
}

.green-box{
    grid-column: 2/2;
    grid-row: 1/2;
    background-color: green;
}

.orange-box{
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: orangered;
}

.purple-box{
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: purple;
}

.pink-box{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: hotpink;
}

.blue-box{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: blue;
}

.brown-box{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: brown;
}

.violet-box{
    grid-column: 4/5;
    grid-row: 2/3;
    background-color: violet;
}

.navy-box{
    background-color: navy;
}

.yellow-box{
    background-color: yellow;
}

.grey-box{
    background-color: grey;
}

.light-blue-box{
    background-color: lightblue;
}