body{
    margin: 0;
   padding: 0;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
  
}

.box{
   height: 50vh;
   width: 50vw;
   border: 1px solid black;
   
}
.box1{
  position: absolute;
  left: 0;
  top: 0;
  background-color: red;
}
.box2{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;

}
.box3{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: darkorange;
}
.box4{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color:rgb(255, 0, 128);
  
}
.circle-top-left{
   position: absolute;
   top: 0;
   left: 0;
   width: 100px;
   height: 100px;
   background-color: rgb(255, 255, 255);
   border-bottom-right-radius: 100%;
}
.circle-top-right{
   position: absolute;
   top: 0;
   right: 0;
   width: 100px;
   height: 100px;
   background-color: rgb(255, 255, 255);
   border-bottom-left-radius: 100%;
}
.circle-bottom-left{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100px;
   height: 100px;
   background-color: rgb(255, 255, 255);
   border-top-right-radius: 100%;
}
.circle-bottom-right{
   position: absolute;
   bottom: 0;
   right: 0;
   width: 100px;
   height: 100px;
   background-color: rgb(255, 255, 255);
   border-top-left-radius: 100%;
}
.circle-top-center{
   position: absolute;
   top: -80px;
   left: 50%;
   transform: translateX(-58%);
   width: 150px;
   height: 150px;
   background-color: rgb(255, 255, 255);
   border-bottom-left-radius:100% ;
   border-bottom-right-radius:100% ;
}
.circle-bottom-center{
   position: absolute;
   bottom: -80px;
   left: 50%;
   transform: translateX(-58%);
  width: 150px;
   height: 150px;
   background-color: rgb(255, 255, 255);
   border-top-left-radius:100% ;
   border-top-right-radius:100% ;
}
.inside-circle{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 150px;
   height: 150px;
   background-color: rgb(255, 255, 255);
   border-radius: 100%;
}
.small-square{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 70px;
   height: 70px;
   background-color: rgb(255, 0, 0);
}
.middle-square{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-55%, -50%);
   width: 150px;
   height: 150px;
   background-color: rgb(255, 255, 255);
}
.small-circle{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 80px;
   height: 80px;
   background-color: rgb(255, 0, 0);
   border-radius: 100%;
}