body{
    
    margin-top: 0;
 
 }
 
 
 
 .circle{
     
     width: 300px;
     height: 300px;
     border: solid 13px gray;
     border-radius: 50%;
     position: fixed;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
 
 
 
 
 }
 .circle-1{
     width: 300px;
     height: 300px;
     border: solid 11px red;
     box-sizing: border-box;
     border-radius: 50%;
     position: fixed;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
   
 
 }
 
 
 .circle-2{
 
    width: 283px;
    height: 283px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   
 
 
 
 
 }
 
 
 .circle-container{
     height: 100vh;
     position: relative;
     
 }
 
 
 
 
 .bg-color-purple {
     background-color: purple;
 }
 
 .bg-color-aqua {
     background-color: aqua;
 }
 
 .bg-color-orange {
     background-color: orangered;
 }
 
 
 .circle-text{
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     font-size: 20px;
     padding-top: 40%;
     font-weight: 700;
 }